-e ./fairseq/
opencv-python
timm==0.4.12
fairscale==0.4.4
ftfy==6.0.3
tensorboardX==2.4.1
pycocotools==2.0.4
pycocoevalcap==1.2
pytorch_lightning==1.8.0
einops==0.4.1
datasets==1.18.3
rouge-score==0.1.2
scenedetect==0.6.0.3
python-arango==7.2.0
spacy-wordnet==0.1.0
fastapi==0.85.2
seaborn==0.12.1
transformers==4.15.0