-e ./fairseq/
opencv-python
timm==0.4.12
fairscale==0.4.4
ftfy==6.0.3
tensorboardX==2.4.1
pycocotools==2.0.4
pycocoevalcap
pytorch_lightning
einops
datasets
rouge_score
scenedetect
python-arango
git+https://github.com/openai/CLIP.git
spacy-wordnet
git+https://github.com/NEBULA3PR0JECT/nebula_vg_driver.git
fastapi
seaborn
transformers==4.15.0
